body{
	margin:0;
	padding:0;
	width:100%;
}

#app{
	width:100%;

}
.content-wrapper {
	padding:0;
	width: -webkit-calc(100% - 256px);
	width: calc(100% - 256px);
	padding-left:256px!important;
}

/* only for CreateChannelFormDialog - Start */
.private-desc {
  display: none;
  font-size: 14px;
  color: gray;
  padding-top: 16px;
}
/* only for CreateChannelFormDialog - End */
.messageComponentNavbar{
	position: fixed;
	width: calc(100% - 256px);

}
.messageList{
	padding-top:56px !important;
	padding-bottom:56px !important;
}
.inputComponent{
	z-index: 90;
	width:100% !important;
	position: fixed !important;
	bottom:0;
	padding:5px;

}
.inputComponent button{
	position: absolute !important;
	width:48px;
	z-index: 100;
    display: inline-block;
}


.inputFieldComponent{
	width: calc(100% - 376px)!important;
    display: inline-block;
    padding-left:48px;
}

