.content-wrapper {
  padding-left: 256px;
}

/* only for CreateChannelFormDialog - Start */
.private-desc {
  display: none;
  font-size: 14px;
  color: gray;
  padding-top: 16px;
}
/* only for CreateChannelFormDialog - End */